<div class="container">
  <%= form_with(model: @task, local: true) do |f| %>
    <% if @task.errors.any? %>
      <div id="error_explanation">
        <h2><%= @task.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="task_priority">
      <%= f.label :priority %>
      <%= f.select :priority, [["A", "A"],["B", "B"],["C", "C"],["D", "D"],["E", "E"]] %>
    </div>
    <div class="task_status">
      <%= f.label :status %>
      <%= f.select :status, [["未着手", "未着手"],["着手中", "着手中"],["完了", "完了"]] %>
    </div>
    <div class="task_title">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="task_details">
      <%= f.label :details %>
      <%= f.text_area :details %>
    </div>
    <div class="task_limit">
      <%= f.label :limit %>
      <%= f.date_select :limit, {} %>
    </div>
    <div class="task_label">
    <% label_list.each do |label| %>
      <% if action_name == 'new' || action_name == 'create' %>
        <%= f.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false}, label[:id], "" %>
        <label><%= label.label_type %></label>
      <% elsif action_name == 'edit' || action_name == 'update' %>
        <%= f.check_box :label_ids, { multiple: true, checked: @task.label_ids.include?(label.id), disabled: label[:disabled], include_hidden: false}, label[:id], "" %>
        <label><%= label.label_type %></label>
      <% end %>
    <% end %>
    </div>
    <%= f.submit %>
  <% end %>
</div>