<div class="container">
  <h1>タスク詳細</h1>
  <div class ="table-responsive">
    <table class="table table-sm text-center">
      <tr>
        <td class="bg-dark text-light">タスク名</td>
      </tr>
      <tr>
        <td><%= @task.title %></td>
      </tr>
      <tr>
        <td class="bg-dark text-light">タスク詳細</td>
      </tr>
      <tr>
        <td><%= @task.details %></td>
      </tr>
      <tr>
        <td class="bg-dark text-light">終了期限</td>
      </tr>
      <tr>
        <td><%= @task.limit %></td>
      </tr>
      <tr>
        <td class="bg-dark text-light">ラベル</td>
      </tr>
      <tr>
        <td>
          <% @task.labels.each do |label| %>
            <%= label.label_type %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>

<div><%= link_to '編集', edit_task_path %></div>
<div><%= link_to '戻る', tasks_path %></div>