<h1>アカウント新規作成</h1>

<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "件のエラーがあります。") %></h2>
  <ul>
  <% @user.errors.full_messages.each do |m| %>
    <li><%= m %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form_with(model: [:admin, @user], local: true) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  
  <%= f.submit "アカウント新規作成" %>
<% end %>