<h1>ユーザーページ</h1>

<ul>
  <li><%= @user.name %></li>
  <li><%= @user.email %></li>
  <% if @user.admin? %>
    <li>管理者</li>
  <% else %>
    <li>一般ユーザー</li>
  <% end %>
</ul>

<% if current_user.admin? %>
  <div class="table-responsive">
    <table class ="table table-sm text-center table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ラベル</th>
          <th scope="col">タスク名</th>
          <th scope="col">終了期限</th>
          <th scope="col">優先度</th>
          <th scope="col">ステータス</th>
          <th scope="col">担当</th>
          <th scope="col">編集</th>
          <th scope="col">削除</th>
        </tr>
      </thead>
      <tbody>
        <% @user.tasks.each do |task| %>
          <tr class = ".tasks">
            <td>※後ほど実装</td>
            <td><%= task.title%></td>
            <td><%= task.limit %></td>
            <td><%= task.priority %></td>
            <td><%= task.status %></td>
            <td><%= @user.name %></td>
            <td><%= link_to '編集', edit_task_path(task) %></td>
            <td><%= link_to '削除', task, method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %></td>
          </tr>
        <% end %>
      <tbody>
    </table>
  </div>
<% end %>