<!DOCTYPE html>
<html>
  <head>
    <title>OwntaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
    <h1 class="bg-dark text-white py-1"><%= link_to 'Owntask', tasks_path %></h1>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>
  </header>
    <% if logged_in? %>
      <%= current_user.name %>
      <%= link_to "ユーザーページ", user_path(current_user.id) %>：
      <% if admin_user? %>
        <%= link_to "ユーザー管理", admin_users_path %>：
        <%= link_to "アカウント新規登録", new_admin_user_path %>：
      <% end %>
      <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
    <% else %>
      <%= link_to "アカウント新規登録", new_user_path %>：
      <%= link_to "ログイン", new_session_path %>
    <% end %>
    <%= yield %>
  </body>
  <footer class="footer mt-auto py-3 bg-dark text-white">
    © yuhki.ikeda
  </footer>
</html>