<!DOCTYPE html>
<html>
  <head>
    <title>OwntaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
    </div>
    <% end %>
    <h1 class="bg-dark text-white py-1"><%= link_to 'Owntask', tasks_path %></h1>
  </header>
    <%= yield %>
  </body>
  <footer class="footer mt-auto py-3 bg-dark text-white">
    © yuhki.ikeda
  </footer>
</html>